<a href="https://colab.research.google.com/github/Mike-Pits/NU_HW/blob/main/10_%D0%94%D0%97_1_Python_%D0%B4%D0%BB%D1%8F_%D0%B0%D0%BD%D0%B0%D0%BB%D0%B8%D0%B7%D0%B0_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85_%7C_%D0%9F%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B5%D0%BD%D0%B8%D0%B5_%D0%BA%D0%BE%D0%BD%D0%B2%D0%B5%D0%B9%D0%B5%D1%80%D0%B0_%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B8_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85_%7C_%D0%94%D0%97_1_%7C_%D0%A3%D0%98%D0%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Все домашние задания по данному занятию будут построены на базе ```house_train.csv```, которая содержит цены на жилье и разные параметры этого жилья.

Полное описание признаков датасета:
    
* SalePrice: Цена продажи недвижимости в долларах. Это целевая переменная, которую нужно будет пытаться предсказать.
* MSSubClass: Класс здания
* MSZoning: Общая классификация зонирования
* LotFrontage: Погонные метры улицы соединенной с объектом
* LotArea: Размер лота в квардратных футах
* Street: Тип подъездной дороги
* Alley: Тип подъезда к аллее
* LotShape: Общий вид собственности
* LandContour: Плоскость собственности
* Utilities: Тип доступных коммунальных услуг
* LotConfig: Конфигурация лота
* LandSlope: Наклон собственности
* Neighborhood: Физические места в пределах города Эймс
* Condition1: Близость к главной дороге или железной дороге
* Condition2: Близость к главной дороге или железной дороге (если есть второй)
* BldgType: Тип объекта
* HouseStyle: Стиль объекта
* OverallQual: Общее качество материала и отделки
* OverallCond: Общий рейтинг состояния
* YearBuilt: Дата первоначального строительства
* YearRemodAdd: Дата переделки
* RoofStyle: Тип крыши
* RoofMatl: Материал крыши
* Exterior1st: Наружное покрытие дома
* Exterior2nd: Наружное покрытие дома (если больше одного материала)
* MasVnrType: Тип облицовки кладки
* MasVnrArea: Площадь облицовки каменной кладкой в квадратных футах
* ExterQual: Качество наружных материалов
* ExterCond: Текущее состояние материала снаружи
* Foundation: Тип фундамента
* BsmtQual: Высота подвала
* BsmtCond: Общее состояние подвала
* BsmtExposure: Стены подвала на уровне сада или выхода
* BsmtFinType1: Качество готовой площади подвала
* BsmtFinSF1: Готовые квадратные футы типа 1
* BsmtFinType2: Качество второй готовой площади (при наличии)
* BsmtFinSF2: Готовые квадратные футы типа 2
* BsmtUnfSF: Незаконченные квадратные метры подвального помещения
* TotalBsmtSF: Общая площадь подвала в квадратных футах
* Heating: Тип отопления
* HeatingQC: Качество и состояние отопления
* CentralAir: Центральное кондиционирование
* Electrical: Электрическая система
* 1stFlrSF: Квадратные футы первого этажа
* 2ndFlrSF: Квадратные метры второго этажа
* LowQualFinSF: Некачественная отделка квадратных футов (все этажи)
* GrLivArea: Надземная жилая площадь в квадратных футах
* BsmtFullBath: Ванная комната на цокольном этаже
* BsmtHalfBath: Полуподвальная ванная комната
* FullBath: Ванные комнаты высшего класса
* HalfBath: Полуванные комнаты высшего класса
* Bedroom: Количество спален над цокольным этажом
* Kitchen: Кол-во кухонь
* KitchenQual: Качество кухни
* TotRmsAbvGrd: Комнаты выше уровня (не включая ванные комнаты)
* Functional: Рейтинг функциональности дома
* Fireplaces: Количество каминов
* FireplaceQu: Качество камина
* GarageType: Расположение гаража
* GarageYrBlt: Год постройки гаража
* GarageFinish: Внутренняя отделка гаража
* GarageCars: Размер гаража для машины
* GarageArea: Размер гаража в квадратных футах
* GarageQual: Качество гаража
* GarageCond: Состояние гаража
* PavedDrive: Асфальтированная подъездная дорога
* WoodDeckSF: Площадь деревянной террасы в квадратных футах
* OpenPorchSF: Площадь открытой веранды в квадратных футах
* EnclosedPorch: Площадь закрытого крыльца в квадратных футах
* 3SsnPorch: Площадь крыльца на три сезона в квадратных футах
* ScreenPorch: Площадь крыльца экрана в квадратных футах
* PoolArea: Площадь бассейна в квадратных футах
* PoolQC: Качество бассейна
* Fence: Качество забора
* MiscFeature: Прочие функции, не включенные в другие категории
* MiscVal: Ценность разного свойства
* MoSold: Количество месяцев
* YrSold: Количество лет
* SaleType: Тип продажи
* SaleCondition: Состояние продажи

1. Загрузите данные датасета ```house_train.csv```. Импортируйте библиотеку Pandas и выведите на экран датасет в формате датафрейма.

In [1]:
# Библиотека для загрузки датасета из облака google
import gdown

# Запустите ячейку для загрузки датасета house_train.csv в директорию
url = 'https://storage.yandexcloud.net/aiueducation/Content/additional/pad/house_train.csv'
gdown.download(url, None, quiet=False)

Downloading...
From: https://storage.yandexcloud.net/aiueducation/Content/additional/pad/house_train.csv
To: /content/house_train.csv
100%|██████████| 461k/461k [00:00<00:00, 893kB/s]

'house_train.csv'

In [28]:
# Ваше решение
import pandas as pd
import numpy as np

In [29]:
data = pd.read_csv('house_train.csv')
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

2. Найдите признаки с пропусками. Если количество пропусков в признаке больше 50%, то удалите весь столбец признака. Если не более 50%, то пропуски замените на среднее значение в случае численного признака и на наиболее часто встречаемое значение в случае категориального.

In [6]:
data.shape

(1460, 81)

In [30]:
# Ваше решение
data.select_dtypes(include=np.number)

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,192,84,0,0,0,0,0,12,2008,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,62.0,7917,6,5,1999,2000,0.0,0,...,0,40,0,0,0,0,0,8,2007,175000
1456,1457,20,85.0,13175,6,6,1978,1988,119.0,790,...,349,0,0,0,0,0,0,2,2010,210000
1457,1458,70,66.0,9042,7,9,1941,2006,0.0,275,...,0,60,0,0,0,0,2500,5,2010,266500
1458,1459,20,68.0,9717,5,6,1950,1996,0.0,49,...,366,0,112,0,0,0,0,4,2010,142125
1459,1460,20,75.0,9937,5,6,1965,1965,0.0,830,...,736,68,0,0,0,0,0,6,2008,147500

In [39]:
# Создадим списки с численными и категориальными признаками
numeric_cols = data.select_dtypes(include=np.number).columns.to_list
cat_cols = data.select_dtypes(exclude=np.number).columns.to_list

In [43]:
print(numeric_cols, cat_cols)

<bound method IndexOpsMixin.tolist of Index(['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea',
       'MiscVal', 'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')> <bound method IndexOpsMixin.tolist of Index(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType', 'SaleCondition'],
      dtype='object')>

In [46]:
data.RoofStyle.value_counts()[:3]

Gable    1141
Hip       286
Flat       13
Name: RoofStyle, dtype: int64

In [ ]:
# Определим функцию, определяющую пропуски
def missing_feature_values(ratio):
  """
  Функция создаёт списки признаков (столбцов), в которых имеются пропуски.
  Функция будет принимать в качествеп аргумента ratio - %% пропусков от общего числа записей.
  """
  for col in data.columns:
    if col in numeric_cols:
      if data[col].notnull().value_counts() / data.shape[0] < 0.5:
        del data[col]
      else:
        data[col] = data[col].apply(lambda x: x == data[col].mean())
    else:
      if data[col].notnull().value_counts() / data.shape[0] < 0.5:
        del data[col]
      else:
        data[col] = data[col].apply(lambda x: x == data[col].())

In [22]:

for col in data.columns:
  print(data[col].notnull().value_counts())

True    1460
Name: Id, dtype: int64
True    1460
Name: MSSubClass, dtype: int64
True    1460
Name: MSZoning, dtype: int64
True     1201
False     259
Name: LotFrontage, dtype: int64
True    1460
Name: LotArea, dtype: int64
True    1460
Name: Street, dtype: int64
False    1369
True       91
Name: Alley, dtype: int64
True    1460
Name: LotShape, dtype: int64
True    1460
Name: LandContour, dtype: int64
True    1460
Name: Utilities, dtype: int64
True    1460
Name: LotConfig, dtype: int64
True    1460
Name: LandSlope, dtype: int64
True    1460
Name: Neighborhood, dtype: int64
True    1460
Name: Condition1, dtype: int64
True    1460
Name: Condition2, dtype: int64
True    1460
Name: BldgType, dtype: int64
True    1460
Name: HouseStyle, dtype: int64
True    1460
Name: OverallQual, dtype: int64
True    1460
Name: OverallCond, dtype: int64
True    1460
Name: YearBuilt, dtype: int64
True    1460
Name: YearRemodAdd, dtype: int64
True    1460
Name: RoofStyle, dtype: int64
True    1460
Name: RoofMatl, dtype: int64
True    1460
Name: Exterior1st, dtype: int64
True    1460
Name: Exterior2nd, dtype: int64
True     1452
False       8
Name: MasVnrType, dtype: int64
True     1452
False       8
Name: MasVnrArea, dtype: int64
True    1460
Name: ExterQual, dtype: int64
True    1460
Name: ExterCond, dtype: int64
True    1460
Name: Foundation, dtype: int64
True     1423
False      37
Name: BsmtQual, dtype: int64
True     1423
False      37
Name: BsmtCond, dtype: int64
True     1422
False      38
Name: BsmtExposure, dtype: int64
True     1423
False      37
Name: BsmtFinType1, dtype: int64
True    1460
Name: BsmtFinSF1, dtype: int64
True     1422
False      38
Name: BsmtFinType2, dtype: int64
True    1460
Name: BsmtFinSF2, dtype: int64
True    1460
Name: BsmtUnfSF, dtype: int64
True    1460
Name: TotalBsmtSF, dtype: int64
True    1460
Name: Heating, dtype: int64
True    1460
Name: HeatingQC, dtype: int64
True    1460
Name: CentralAir, dtype: int64
True     1459
False       1
Name: Electrical, dtype: int64
True    1460
Name: 1stFlrSF, dtype: int64
True    1460
Name: 2ndFlrSF, dtype: int64
True    1460
Name: LowQualFinSF, dtype: int64
True    1460
Name: GrLivArea, dtype: int64
True    1460
Name: BsmtFullBath, dtype: int64
True    1460
Name: BsmtHalfBath, dtype: int64
True    1460
Name: FullBath, dtype: int64
True    1460
Name: HalfBath, dtype: int64
True    1460
Name: BedroomAbvGr, dtype: int64
True    1460
Name: KitchenAbvGr, dtype: int64
True    1460
Name: KitchenQual, dtype: int64
True    1460
Name: TotRmsAbvGrd, dtype: int64
True    1460
Name: Functional, dtype: int64
True    1460
Name: Fireplaces, dtype: int64
True     770
False    690
Name: FireplaceQu, dtype: int64
True     1379
False      81
Name: GarageType, dtype: int64
True     1379
False      81
Name: GarageYrBlt, dtype: int64
True     1379
False      81
Name: GarageFinish, dtype: int64
True    1460
Name: GarageCars, dtype: int64
True    1460
Name: GarageArea, dtype: int64
True     1379
False      81
Name: GarageQual, dtype: int64
True     1379
False      81
Name: GarageCond, dtype: int64
True    1460
Name: PavedDrive, dtype: int64
True    1460
Name: WoodDeckSF, dtype: int64
True    1460
Name: OpenPorchSF, dtype: int64
True    1460
Name: EnclosedPorch, dtype: int64
True    1460
Name: 3SsnPorch, dtype: int64
True    1460
Name: ScreenPorch, dtype: int64
True    1460
Name: PoolArea, dtype: int64
False    1453
True        7
Name: PoolQC, dtype: int64
False    1179
True      281
Name: Fence, dtype: int64
False    1406
True       54
Name: MiscFeature, dtype: int64
True    1460
Name: MiscVal, dtype: int64
True    1460
Name: MoSold, dtype: int64
True    1460
Name: YrSold, dtype: int64
True    1460
Name: SaleType, dtype: int64
True    1460
Name: SaleCondition, dtype: int64
True    1460
Name: SalePrice, dtype: int64

In [20]:
data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')